<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Şifrə Yeniləndi</title>
</head>
<body style="margin: 0; padding: 0; font-family: 'Tahoma', sans-serif; color: #303030; background-color: #ffffff;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tr>
        <td align="center">
            <table
                    width="550"
                    border="0"
                    cellspacing="0"
                    cellpadding="30"
                    bgcolor="#eeeeee"
                    style="margin: 20px 0 0 0; max-width: 600px; border-radius: 15px;">
                <tr>
                    <td align="left" style="font-family: 'Tahoma', sans-serif; color: #303030;">
                        <div style="text-align: center">
                            <div style="
                                border-radius: 10px;
                                padding: 5px 15px;
                                background-color: transparent;">
                                <img src="$logo_url$" alt="Logo" width="200">
                            </div>
                        </div>
                        <p>Salam <b>$full_name$</b>,</p>
                        <p>
                            <b>$company_name$</b> hesabınız üçün şifrəniz yenilənmişdir.
                        </p>
                        <div>
                            Bu dəyişiklik <b>$update_date$</b> tarixində aşağıdakı ünvanı istifadə edən cihazdan edilmişdir:
                            <ul style="list-style: square">
                                <li>Brauzer: <b>"$browser$"</b></li>
                                <li>Əməliyyat sistemi: <b>"$os$"</b></li>
                                <li>Platforma: <b>"$platform$"</b></li>
                            </ul>
                        </div>
                        <p>
                            Əgər bu dəyişikliyi siz etməmisinizsə, hesabınızı qorumaq üçün dərhal dəstək komandamızla
                            <a target="_blank" href="mailto:$support_team_email$" style="color: #1155cc;">
                                $support_team_email$</a> əlaqə saxlayın.
                        </p>
                        <p><b>$company_name$</b>ı istifadə etdiyiniz üçün təşəkkür edirik!</p>
                        <p>
                            Hər hansı bir sualınız varsa və ya kömək lazımdırsa, dəstək komandamızla əlaqə saxlamaqdan çəkinməyin.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
