<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Пароль Обновлен</title>
</head>
<body style="margin: 0; padding: 0; font-family: 'Tahoma', sans-serif; color: #303030; background-color: #ffffff;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tr>
        <td align="center">
            <table
                    width="550"
                    border="0"
                    cellspacing="0"
                    cellpadding="30"
                    bgcolor="#eeeeee"
                    style="margin: 20px 0 0 0; max-width: 600px; border-radius: 15px;">
                <tr>
                    <td align="left" style="font-family: 'Tahoma', sans-serif; color: #303030;">
                        <div style="text-align: center">
                            <div style="
                                border-radius: 10px;
                                padding: 5px 15px;
                                background-color: transparent;">
                                <img src="$logo_url$" alt="Logo" width="200">
                            </div>
                        </div>
                        <p>Здравствуйте, <b>$full_name$</b>,</p>
                        <p>
                            Ваш пароль для аккаунта в <b>$company_name$</b> был обновлен.
                        </p>
                        <div>
                            Это изменение было выполнено <b>$update_date$</b> с устройства, использующего следующий адрес:
                            <ul style="list-style: square">
                                <li>Браузер: <b>"$browser$"</b></li>
                                <li>ОС: <b>"$os$"</b></li>
                                <li>Платформа: <b>"$platform$"</b></li>
                            </ul>
                        </div>
                        <p>
                            Если вы не делали этого изменения, пожалуйста, немедленно свяжитесь с нашей службой поддержки по адресу
                            <a target="_blank" href="mailto:$support_team_email$" style="color: #1155cc;">
                                $support_team_email$</a>, чтобы защитить ваш аккаунт.
                        </p>
                        <p>Спасибо, что используете <b>$company_name$!</b></p>
                        <p>
                            Если у вас есть вопросы или вам нужна помощь, пожалуйста, не стесняйтесь обращаться в нашу службу поддержки.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
