<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Сброс пароля</title>
</head>
<body style="margin: 0; padding: 0; font-family: 'Tahoma', sans-serif; color: #303030; background-color: #ffffff;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tr>
        <td align="center">
            <table
                    width="550"
                    border="0"
                    cellspacing="0"
                    cellpadding="30"
                    bgcolor="#eeeeee"
                    style="margin: 20px 0 0 0; max-width: 600px; border-radius: 15px;">
                <tr>
                    <td align="left" style="font-family: 'Tahoma', sans-serif; color: #303030;">
                        <div style="text-align: center">
                            <div style="
                                border-radius: 10px;
                                padding: 5px 15px;
                                background-color: transparent;">
                                <img src="$logo_url$" alt="Logo" width="200">
                            </div>
                        </div>
                        <p>Здравствуйте, <b>$full_name$</b>,</p>
                        <p>
                            Вы запросили сброс пароля для вашего аккаунта на <b>$company_name$</b>.
                            Для сброса пароля, пожалуйста, нажмите на следующую кнопку:
                        </p>
                        <p style="margin: 30px 0;">
                            <a id="reset-link"
                               target="_blank"
                               href="$reset_link$"
                               style="
                                user-select: none;
                                text-decoration: none;
                                background-color: #d9534f;
                                color: #fff;
                                font-weight: bold;
                                padding: 10px 20px;
                                border-radius: 10px">
                                Сбросить пароль
                            </a>
                        </p>
                        <p>или скопируйте и вставьте следующую ссылку в ваш браузер:</p>
                        <p style="width: 450px">
                            <span id="reset-link-text"
                                  style="
                                    word-wrap: break-word;
                                    text-decoration: underline;
                                    color: #1155cc;">
                                $reset_link$
                            </span>
                        </p>
                        <p>
                            Эта ссылка для сброса пароля истечет через $reset_link_life_hour$ часов.
                            <b>Если вы не запрашивали сброс пароля, пожалуйста, проигнорируйте это письмо и рассмотрите возможность изменения пароля по соображениям безопасности.</b>
                        </p>
                        <p>
                            Если у вас есть вопросы или вам нужна помощь, пожалуйста, не стесняйтесь обращаться в нашу службу поддержки по адресу
                            <a target="_blank" href="mailto:$support_team_email$" style="color: #1155cc;">
                                $support_team_email$</a>.
                        </p>
                        <p>Спасибо за использование <b>$company_name$!</b></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>