<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Password Updated</title>
</head>
<body style="margin: 0; padding: 0; font-family: 'Tahoma', sans-serif; color: #303030; background-color: #ffffff;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tr>
        <td align="center">
            <table
                    width="550"
                    border="0"
                    cellspacing="0"
                    cellpadding="30"
                    bgcolor="#eeeeee"
                    style="margin: 20px 0 0 0; max-width: 600px; border-radius: 15px;">
                <tr>
                    <td align="left" style="font-family: 'Tahoma', sans-serif; color: #303030;">
                        <div style="text-align: center">
                            <div style="
                                border-radius: 10px;
                                padding: 5px 15px;
                                background-color: transparent;">
                                <img src="$logo_url$" alt="Logo" width="200">
                            </div>
                        </div>
                        <p>Hello <b>$full_name$</b>,</p>
                        <p>
                            Your password for your account at <b>$company_name$</b> has been updated.
                        </p>
                        <div>
                            This change was made on <b>$update_date$</b> from a device using the following address:
                            <ul style="list-style: square">
                                <li>Browser: <b>"$browser$"</b></li>
                                <li>OS: <b>"$os$"</b></li>
                                <li>Platform: <b>"$platform$"</b></li>
                            </ul>
                        </div>
                        <p>
                            If you did not make this change, please contact our support team immediately at
                            <a target="_blank" href="mailto:$support_team_email$" style="color: #1155cc;">
                                $support_team_email$</a> to secure your account.
                        </p>
                        <p>Thank you for using <b>$company_name$!</b></p>
                        <p>
                            If you have any questions or need assistance, please do not hesitate to contact our support team.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
