<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Confirmation Email</title>
</head>
<body style="margin: 0; padding: 0; font-family: 'Tahoma', sans-serif; color: #303030; background-color: transparent;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="transparent">
    <tr>
        <td align="center">
            <table
                width="550"
                border="0"
                cellspacing="0"
                cellpadding="30"
                bgcolor="#F5F5F8"
                style="margin: 20px 0 0 0; max-width: 600px; border-radius: 15px;">
                <tr>
                    <td align="left" style="font-family: 'Tahoma', sans-serif; color: #303030;">
                        <div style="text-align: center">
                            <div style="
                                border-radius: 10px;
                                padding: 5px 15px;
                                background-color: transparent;">
                                <img src="$logo_url$" alt="Logo" width="200">
                            </div>
                        </div>
                        <p>Hello <b>$full_name$</b>,</p>
                        <p>
                            Thank you for registering with <b>$company_name$</b>.
                            We're excited to have you on board!
                            To complete your registration and activate your account,
                            please confirm your email address by pressing button:
                        </p>
                        <p style="margin: 30px 0;">
                            <a id="confirm-link"
                                target="_blank"
                                href="$confirm_link$"
                                style="
                                user-select: none;
                                text-decoration: none;
                                background-color: #5D45F6;
                                color: #fff;
                                font-weight: bold;
                                padding: 10px 20px;
                                border-radius: 10px">
                                    Confirm Email
                            </a>
                        </p>
                        <p>or open the link in browser:</p>
                        <p style="width: 450px">
                            <span id="confirm-link-text"
                               style="
                                word-wrap: break-word;
                                text-decoration: underline;
                                color: #1155cc;">
                                $confirm_link$
                            </span>
                        </p>
                        <p>
                            Please note that this link will expire in $confirm_link_life_hour$ hours.
                            <b>If you did not initiate this request, please ignore this email and contact us.</b>
                        </p>
                        <p>
                            If you have any questions or need assistance,
                            please feel free to reach out to our support team at
                            <a target="_blank" href="mailto:$support_team_email$" style="color: #1155cc;">
                                $support_team_email$</a>.
                        </p>
                        <p>Thank you for choosing <b>$company_name$!</b></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
