<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Reset Password</title>
</head>
<body style="margin: 0; padding: 0; font-family: 'Tahoma', sans-serif; color: #303030; background-color: #ffffff;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tr>
        <td align="center">
            <table
                    width="550"
                    border="0"
                    cellspacing="0"
                    cellpadding="30"
                    bgcolor="#eeeeee"
                    style="margin: 20px 0 0 0; max-width: 600px; border-radius: 15px;">
                <tr>
                    <td align="left" style="font-family: 'Tahoma', sans-serif; color: #303030;">
                        <div style="text-align: center">
                            <div style="
                                border-radius: 10px;
                                padding: 5px 15px;
                                background-color: transparent;">
                                <img src="$logo_url$" alt="Logo" width="200">
                            </div>
                        </div>
                        <p>Hello <b>$full_name$</b>,</p>
                        <p>
                            You have requested to reset your password for your account at <b>$company_name$</b>.
                            To reset your password, please click the following button:
                        </p>
                        <p style="margin: 30px 0;">
                            <a id="reset-link"
                               target="_blank"
                               href="$reset_link$"
                               style="
                                user-select: none;
                                text-decoration: none;
                                background-color: #d9534f;
                                color: #fff;
                                font-weight: bold;
                                padding: 10px 20px;
                                border-radius: 10px">
                                Reset Password
                            </a>
                        </p>
                        <p>or copy and paste the following link into your browser:</p>
                        <p style="width: 450px">
                            <span id="reset-link-text"
                                  style="
                                    word-wrap: break-word;
                                    text-decoration: underline;
                                    color: #1155cc;">
                                $reset_link$
                            </span>
                        </p>
                        <p>
                            This password reset link will expire in $reset_link_life_hour$ hours.
                            <b>If you did not request a password reset, please ignore this email and consider changing your password for security reasons.</b>
                        </p>
                        <p>
                            If you have any questions or need assistance, please do not hesitate to contact our support team at
                            <a target="_blank" href="mailto:$support_team_email$" style="color: #1155cc;">
                                $support_team_email$</a>.
                        </p>
                        <p>Thank you for using <b>$company_name$!</b></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>