<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Подтверждение по электронной почте</title>
</head>
<body style="margin: 0; padding: 0; font-family: 'Tahoma', sans-serif; color: #303030; background-color: transparent;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="transparent">
    <tr>
        <td align="center">
            <table
                    width="550"
                    border="0"
                    cellspacing="0"
                    cellpadding="30"
                    bgcolor="#F5F5F8"
                    style="margin: 20px 0 0 0; max-width: 600px; border-radius: 15px;">
                <tr>
                    <td align="left" style="font-family: 'Tahoma', sans-serif; color: #303030;">
                        <div style="text-align: center">
                            <div style="
                                border-radius: 10px;
                                padding: 5px 15px;
                                background-color: transparent;">
                                <img src="$logo_url$" alt="Logo" width="200">
                            </div>
                        </div>
                        <p>Здравствуйте, <b>$full_name$</b>,</p>
                        <p>
                            Спасибо за регистрацию в <b>$company_name$</b>.
                            Мы рады видеть вас в числе наших пользователей!
                            Чтобы завершить регистрацию и активировать ваш аккаунт,
                            пожалуйста, подтвердите ваш адрес электронной почты, нажав на кнопку:
                        </p>
                        <p style="margin: 30px 0;">
                            <a id="confirm-link"
                               target="_blank"
                               href="$confirm_link$"
                               style="
                                user-select: none;
                                text-decoration: none;
                                background-color: #5D45F6;
                                color: #fff;
                                font-weight: bold;
                                padding: 10px 20px;
                                border-radius: 10px">
                                Подтверждать почта
                            </a>
                        </p>
                        <p>или откройте ссылку в браузере:</p>
                        <p style="width: 450px">
                            <span id="confirm-link-text"
                                  style="
                                    word-wrap: break-word;
                                    text-decoration: underline;
                                    color: #1155cc;">
                                $confirm_link$
                            </span>
                        </p>
                        <p>
                            Обратите внимание, что ссылка истечет через $confirm_link_life_hour$ часов.
                            <b>Если вы не инициировали этот запрос, пожалуйста, проигнорируйте это письмо и свяжитесь с нами.</b>
                        </p>
                        <p>
                            Если у вас есть вопросы или вам нужна помощь,
                            не стесняйтесь обращаться в нашу службу поддержки по адресу
                            <a target="_blank" href="mailto:$support_team_email$" style="color: #1155cc;">
                                $support_team_email$</a>.
                        </p>
                        <p>Спасибо, что выбрали <b>$company_name$!</b></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
